<div class="wrapper wrapper-content">
  <div class="row">
	<% add_breadcrumb_and_set_title 'Create new group' %>
	<div class="col-md-7">
	  <div class="ibox float-e-margins">
		<div class="ibox-title">
	      <h3>Groups</h3>
	    </div>
	    <div class="ibox-content">
		  <div id="groups-list" >
		    <%= render 'groups_list' %>
		  </div>
		</div>
	  </div>
	</div>
	<div class="col-md-5">
		<div id="new-group" >
		  <%= render 'form' %>
		</div>
	</div>
  </div>
</div>