<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-5">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h3>Sections List</h3>
        </div>
        <div class="ibox-content">
		  <div id="sections-list" >
		    <%= render 'sections_list' %>
		  </div>
		</div>
	  </div>
	</div>
	<div class="col-lg-5" id="new-section">
   	  <%= render 'form' %>
	</div>
  </div>
</div>