<table class='table'>
  <thead>
    <th>Name</th>
    <th>Mobile</th>
  </thead>
  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.name %></td>
        <td><%= contact.mobile%></td>
      </tr>
    <%end%>
  </tbody>
</table>
<div class="text-center">
    <div class="pagination pagination-sm text-align:center" id="candidates_paginator">
      <%= paginate @contacts %>
    </div>
</div>
