<div id="contacts-list" class="col-md-4">
  <%= render 'contacts_list' %>
</div>
<div id='new-contact' class="col-md-4">
  <%= render 'form' %>
</div>
<div id='import-contacts' class="col-md-4">
  <%= render 'import_contacts' %>
</div>
