<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-5">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h3>Courses List</h3>
        </div>
        <div class="ibox-content">
		  <div id="courses-list" >
		    <%= render 'courses_list' %>
		  </div>
		</div>
	  </div>
	</div>
	<div class="col-lg-5">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h3>New Course</h3>
        </div>
        <div class="ibox-content">
			<div id='new-course' >
			  <%= render 'form' %>
			</div>
		</div>
	  </div>
	</div>
  </div>
</div>