  <div class="row">
	<div class="col-md-6">
	  <div class="ibox float-e-margins">
	    <div class="ibox-title">
	      <h2 style="display: inline-block;">SMS</h2>
	      <%= link_to 'Add User', '#', class: 'btn btn-warning pull-right' %>
	      <%= link_to 'Add Group', '#', class: 'btn btn-info pull-right' %>
	    </div>
	    <div class="ibox-content">
	      <%= render 'form' %>
	    </div>
	</div>
  </div>
